html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--light-1);
  /* scroll-behavior: smooth; */
  cursor: none;
}

*::selection {
  color: var(--light);
  background: var(--dark-2);
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--light);
  border-radius: 50%;
  position: fixed;
  z-index: 50000;
  pointer-events: none;
  transition: 0.15s ease-out;
}

.cursor::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background: var(--dark);
  opacity: 0.5;
  border-radius: 50%;
  position: fixed;
  transform: translate(8%, 8%);
  z-index: 5000;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  opacity: 0;
  user-select: none;
}

.btn {
  font-family: Segoe UI !important;
  color: var(--dark) !important;
  border: 1px solid var(--dark) !important;
  font-weight: bold !important;
}

.btn.icon p {
  margin-right: 1em;
}

.btn.btn-dark {
  background: var(--dark) !important;
  color: var(--light) !important;
}

.btn.btn-light {
  color: var(--light) !important;
  border: 2px solid var(--light) !important;
  border-radius: 0 !important;
}

.btn.btn-success {
  background: var(--dark) !important;
  color: var(--light) !important;
}

:root {
  /*? Color shades -- START*/
  --light: rgb(255, 255, 255, 1);
  --light-1: rgb(231, 231, 231);
  --light-2: rgb(217, 217, 217, 1);
  --light-3: rgb(191, 191, 191, 1);

  --dark: rgb(37, 40, 44);
  --dark-1: rgb(87, 87, 87);
  --dark-2: rgb(122, 122, 122);
  --dark-2-light: rgba(122, 122, 122, 0.4);

  --shade-brown: rgb(115, 114, 96, 1);
  --shade-blue: rgb(103, 120, 140, 1);
  --shade-blue-1: rgb(103, 150, 211, 1);
  --shade-blue-2: rgb(63, 127, 255, 1);

  --shade-red: rgb(211, 34, 102);
  --shade-green: rgb(57, 168, 76);
  /*! Color shades -- END*/
  /* ======== */
  /*? Font families  -- START*/
  --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*! Font families  -- END*/
  /* ======== */
  /*? Shadows -- START*/
  --shadow-dark: 0px 0px 25px rgba(0, 0, 0, 0.25);
  --shadow-light: 0px 0px 15px rgba(0, 0, 0, 0.15);
  /*! Shadows -- END*/
  /* ======== */
  /*? Max widths -- START*/
  --max-width-s: 30rem;
  --max-width-m: 40rem;
  --max-width-l: 50rem;
  /*! Max widths -- END*/
  /* ======== */
  /*? Transitions -- START*/
  --transition-1: 0.3s ease-out;
  --transition-2: 0.3s ease-in-out;
  /*! Transitions -- END*/
  /* ======== */
  /*? Components -- START*/
  --navbar-height: 3rem;
  /*! Components -- END*/
}
