.about {
  background: var(--light);
  padding: 2em 1em;
  font-size: 2rem;
  color: var(--dark-2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  display: table; /* fit-content width */
  font-size: 1.1em;
  font-weight: 1000;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 1.5em;
  text-align: center;
  color: var(--dark);

  /* Udjastable underline */
  background-image: linear-gradient(var(--dark), var(--dark));
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 70% 0.5rem; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 1.1rem; /* this can also control the position */

  /* text-decoration: underline;
  text-underline-offset: 0.3em; */
}

.aboutText {
  font-size: 0.65em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: left;
  color: var(--dark-1);
  width: min(95%, 45ch);
  white-space: pre-wrap;
  margin-bottom: 1.5em;
  z-index: 4;
}

.profile {
  margin-top: 1em;
  text-align: center;
}

.profileImg {
  object-fit: cover;
  border: 3px solid var(--dark) !important;
  border-radius: 50%;
}

.profileName {
  font-size: 0.6em;
  margin-top: 0.5em;
  font-weight: bold;
  color: var(--dark);
}

@media screen and (min-width: 60rem) {
  .about {
    padding-left: 2em;
    padding-right: 2em;
  }

  .headerText {
    margin-left: 0;
    font-size: 1.2em;

    /* Udjastable underline */
    background-image: linear-gradient(var(--dark), var(--dark));
    background-position: bottom left; /*Adjust the background-position to move the line*/
    background-size: 45% 0.5rem; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 1.1rem; /* this can also control the position */
  }

  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .aboutText {
    margin-bottom: 0;
  }

  .profile {
    margin-top: 0;
  }

  .profile img {
    width: 125px;
  }

  .profileName {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 80rem) {
  .about {
    padding: 3em;
    /* padding-left: 3em;
    padding-right: 3em; */
  }

  .headerText {
    font-size: 1.3em;
  }

  .aboutText {
    font-size: 0.75em;
    width: 60ch;
  }

  .profile img {
    width: 150px;
  }
  .profileName {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 100rem) {
  .about {
    padding-left: 5em;
    padding-right: 5em;
  }
}
