.about {
  background: var(--light-1);
  padding: 1.2em 1em;

  font-size: 2rem;
  color: var(--dark-2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > * {
  margin: 1.5rem 0;
}

.header {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0;
  text-align: center;
}

.aboutText {
  font-size: 0.7em;
  font-weight: 600;
  margin-left: 0.5rem;
  text-align: left;
  color: var(--dark-1);
  width: min(95%, 45ch);
  white-space: pre-wrap;
}

.profile {
  text-align: center;
}

.profileImg {
  object-fit: cover;
  border-radius: 50%;
  mix-blend-mode: darken;
}

.profileName {
  font-size: 0.55em;
  margin-top: 1em;
  font-weight: bold;
  color: var(--dark-1);
}

@media screen and (max-width: 280px) {
  .aboutText {
    margin-left: 0;
  }
}

@media screen and (min-width: 60rem) {
  .about {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .header {
    text-align: left;
    font-size: 1.2em;
  }

  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main > * {
    margin-top: 0;
  }

  .aboutText {
    width: 50ch;
    font-weight: bold;

    margin-left: 0;
  }

  .profile img {
    width: 125px;
  }

  .profileName {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 80rem) {
  .about {
    padding: 2em 3em;
    /* padding-left: 3em;
    padding-right: 3em; */
  }

  .header {
    font-size: 1.3em;
  }

  .aboutText {
    font-size: 0.75em;
    width: 60ch;
  }

  .profile img {
    width: 150px;
  }
  .profileName {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 100rem) {
  .about {
    padding-left: 6.5em;
    padding-right: 6.5em;
  }
}
